*{
  padding: 0;
  margin: 0;
}

.fundo{
   width: 100%;
   background: linear-gradient(180deg, #fd5f0e 0%, rgb(255 110 36 / 48%) 60.5%, #ffffff4f 99.1%, rgb(123 89 71 / 0%) 100%);
position: absolute;
 height: 900px;
 overflow: hidden;
}
.titulo{
  text-align: center;
  font-size: 100px;
  font-family: Georgia;
  position: absolute;
  text-align: center;
  top: 49px;
  left: 676px;
  color:F61010 ;
   }
   .textoprincipal{
     position: absolute;
     top: 229px;
     left: 750px;
     font-size: 18px;
     text-align: center;
     color: #fff6ef;
    }

.local{
  position: absolute;
  top: 100px;
  left: 1636px;
  font-size: 20px;
}

.localizacao{
  width: 88px;
  position: absolute;
  top: 65px;
  left: 1540px;

}
.logo{
  width: 275px;
  position: absolute;
  top: -135px;
  left: 90px;
}
.bloco{
  position: absolute;
  top: 274px;
  left: 134px;
  width: 750px;
}
.bloco2{
  position: absolute;
  top: 274px;
  left: 1034px;
  width: 750px;
}
.teste{
  text-align: center;
  font-size: 100px;
  font-family: Georgia;
  position: absolute;
  text-align: center;
  top: -38px;
  left: 745px;
  color: F61010;
  width: 450px;
}