*{
    padding: 0;
    margin: 0;
  }
  
  .fundo{
     width: 100%;
     background: linear-gradient(180deg, #fd5f0e 0%, rgb(255 110 36 / 48%) 60.5%, #ffffff4f 99.1%, rgb(123 89 71 / 0%) 100%);
  position: absolute;
   height: 900px;
   overflow: hidden;
  }
